.root {
    -fx-background-color: #222128; /* GTK+の背景色に合わせる */
}

.dynamic-label {
    -fx-font-family: "Sans";
    -fx-font-weight: bold;
    -fx-font-size: 50px;
    -fx-text-fill: #DDDDDD;
}

.time-display-label {
    /* HTMLコンテンツをレンダリングするための基本スタイル。フォントはHTML内で制御 */
    -fx-font-weight: bold;
    -fx-font-size: 75px;
    -fx-text-fill: #DDDDDD;
}

.time-text {
    /* 時刻部分のフォント設定を統一 */
    -fx-font-family: "Courier New", "monospace";
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-fill: #DDDDDD;
}

.type-text {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #DDDDDD;
    -fx-background-color: #0000FF;
}

.detail-text {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-fill: #DDDDDD;
}

.remark-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #F15A22; /* オレンジ色 */
}

.warning-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: orange;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blinking-colon {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
